extends baseEmail

block content
    p #{name},
    p 砖 专  -JAS!
    p  砖 砖注转 
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') 住 专转 转 爪专 专 砖
    p 转专 拽专,
    p 爪转 JAS
