// FOOTER
footer.footer
    .footer__logo
        //img(src='/img/logo-green.png' alt='JAS logo')
    ul.footer__nav
        li: a(href='https://www.facebook.com/groups/355578162285409') עקבו אחרינו בפייסבוק
        li: a(href='https://www.linkedin.com/company/just-a-second-reusable/about/') עקבו אחרינו בלינקדאין
        li: a(href='https://www.instagram.com/5r.design/') תנועת המעצבים 5R
        li: a(href='https://www.instagram.com/justasecondteam/') עקבו אחרינו באינסטגרם
