// FOOTER
footer.footer
    .footer__logo
        //img(src='/img/logo-green.png' alt='JAS logo')
    ul.footer__nav
        li: a(href='#') אודות
        li: a(href='#') אני רוצה לקנות
        li: a(href='#') אני מחפש חומרים
        li: a(href='#') אני רוצה..