doctype html
html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyQP+zELzTkoIu70Z4R0I7u6w5HpLXT9N", crossorigin="anonymous")
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        //meta(http-equiv="Content-Security-Policy" content="script-src 'self' https://cdnjs.cloudflare.com")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='stylesheet' href='/css/style.css')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@900&family=Titillium+Web:wght@200;400&display=swap' rel='stylesheet')
        title JAS

    body
        // HEADER
        include _header

        // CONTENT
        block content
        // FOOTER
        include _footer

        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
        script(type="module" src='/js/login.js')
        script(type="module" src='/js/signup.js')
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src='https://js.stripe.com/v3/')
        script(type="module" src='/js/stripe.js')







