extends base

block content
    .banner
        .overlay-content
            h1(style="text-align: center; font-size: 4.5em;") JUST A SECOND
            h2(style="text-align: center; font-size: 3em;") Rebranding Waste
            p(style="text-align: center; font-size: 2em;") עמותת JAS שמה לעצמה מטרה סביבתית, חברתית וכלכלית ליצור שינוי בתפיסת הערך של שימוש חוזר מתוך השפע הקיים.
            p(style="text-align: center; font-size: 2em;") העמותה מקדמת פתרונות יצירתיים ומעוצבים של מיחדוש (Upcycle) ושימוש חוזר ומציעה אפשרויות יצירתיות ומגוונות להתחדשות ועיצוב הסביבה בה אנו חיים.
        video(playsinline="playsinline", autoplay="autoplay", muted="muted", loop="loop", preload="preload", style="width: 100%; height: auto; position: relative; z-index: 0;")
            source(src="https://climatenetwork.org/wp-content/uploads/2021/01/Homepage-banner.mp4", type="video/mp4")

    .card-container
        .card
            .card__header
                .card__picture
                    .card__picture-overlay &nbsp;
                    img.card__picture-img(src='images/walla-article.png', alt=`walla-articale`)

            .card__details
                p התערוכה המדליקה שתחבר בין התחדשות, אמנות וקיימות

            .card__footer
                a.btn.btn--green.btn--small(href=`https://nadlan.walla.co.il/item/3613022`) לכתבה המלאה

        .card
            .card__header
                .card__picture
                    .card__picture-overlay &nbsp;
                    img.card__picture-img(src='images/timeout-article.png', alt=`timeout-articale`)

            .card__details
                p האוצר הגדול של האומנים מתחבא בהריסות העיר
            .card__footer
                a.btn.btn--green.btn--small(href=`https://timeout.co.il/%D7%90%D7%95%D7%A6%D7%A8%D7%95%D7%AA-%D7%A8%D7%97%D7%95%D7%91-%D7%A0%D7%9E%D7%9C-%D7%99%D7%A4%D7%95/`) לכתבה המלאה

        .card
            .card__header
                .card__picture
                    .card__picture-overlay &nbsp;
                    img.card__picture-img(src='images/ice-article.jpeg', alt=`ice-articale`)

            .card__details
                p קבוצות הנדל"ן בשת"פ ייחודי: היכן יקימו פופ-אפ "אוצרות רחוב"?

            .card__footer
                a.btn.btn--green.btn--small(href=`https://www.ice.co.il/financial-gossip/news/article/982415`) לכתבה המלאה



    //.articles-container
    //    h1(style="text-align: center;") כותבים עלינו
    //    div(style="text-align: center; padding: 20px;")
    //        div
    //            h2 "אוצרות רחוב": התערוכה המדליקה שתחבר בין התחדשות, אמנות וקיימות
    //            p שיתוף פעולה חדשני בין חברות נדל"ן ועמותה ישראלית משיק פיילוט חדשני שיכלול שימור ואוצרות של פריטי ריהוט, בית ובניין בהתחדשות עירונית, לצורך הצגתם בתערוכה והעמדתם למכירה בתערוכה מדליקה. ההכנסות מהתערוכה ייתרמו
    //        div(style="padding-bottom: 30%;")
    //            h2 פופ אפ בנמל יפו: האוצר הגדול של האומנים מתחבא בהריסות העיר


