extends base

block content
    div.container-searchbar
        h1 ברוכים הבאים!
        h2 פה ניתן לחפש חומרים שיצאו מכלל שימוש
        input#search-bar(type='text', placeholder='אני מחפש...')
        button.btn#search-btn(type='button') חפש
        div#materials-list